@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  margin: 0 auto;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

img {
  width: 100%;
}

.clock {
  padding-top: 100px;
  font-size: 40px;
  margin: 10px 0;
  color: white;
  -webkit-text-stroke: 1px #000;
}

#date {
  font-size: 30px;
  text-transform: capitalize;
}

.weather-widget {
  margin: auto;
  color: white;
  -webkit-text-stroke: 0.5px #000;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
}

.weather-info {
  margin-top: 15px;
}

.input-none {
  display: none;
}

.input-block {
  display: block;
}

 .city-name {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
  -webkit-text-stroke: 0.5px #000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.img-icon {
  width: 10px;
}

/* #loader {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.box {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.3333333333));
}

/* .box .loader {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: animateLoading 2s linear infinite;
} */

/* .box .loader:nth-child(2),
.box .loader:nth-child(4) {
  animation-delay: -1s;
  filter: hue-rotate(290deg);
} */

/* @keyframes animateLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
/* .box .loader:nth-child(1)::before,
.box .loader:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.5));
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
} */

/* .container .loader i {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: #00fff9;
  border-radius: 50%;
  box-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9, 0 0 40px #00fff9, 0 0 50px #00fff9, 0 0 60px #00fff9, 0 0 70px #00fff9, 0 0 80px #00fff9, 0 0 90px #00fff9, 0 0 100px #00fff9;
  z-index: 10;
} */
/* 
.box .loader span {
  position: absolute;
  inset: 20px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
} */

.input-hamburger {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 24px;
  height: 20px;
  right: 20px;
  top: 24px;
}

label.hamburger {
  display: inline-flex;
  cursor: pointer;
}

.input-hamburger + label::before {
  content: "";
  background: url(../images/free-icon-note-477868.png);
  width: 50px;
  height: 50px;
}

.input-hamburger:checked + label::before {
  width: 50px;
  height: 50px;
  background: url(../images/free-icon-cross-mark-17047.png);
}

.header .burger {
  display: none;
}

.header label.hamburger {
  display: none;
}

#checkbox-burger:checked ~ .form {
  display: block;
}

.form {
  display: none;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input ::-moz-placeholder {
  color: #ffffff;
  font-size: 14px;
}
.input ::placeholder {
  color: #ffffff;
  font-size: 14px;
}

textarea {
  background: none;
  color: #fff;
}

#task {
  max-width: 400px;
  height: 150px;
  padding-left: 10px;
  font-size: 25px;
}

.tasks {
  width: 100%;
  padding: 10px;
  min-height: 152px;
  position: relative;
  border-radius: 0 0 5px 5px;
}

.action-block {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

#checkboxId {
  margin-right: 5px;
}

.check-input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.check-input:focus + .check-style {
  box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 1px #7e9bbd;
}

.check-style {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 1px solid rgb(219, 187, 169);
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}

.check-style::before {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(../images/Vector.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;
  transition: all 0.2s ease;
}

.check-input:checked + .check-style::before {
  transform: translate(-50%, -50%) scale(1);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  border-bottom: 1px solid #fff;
}

li::before {
  content: "Задача: ";
  color: #fff;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

ol:hover + .tooltip {
  display: block;
  transform: translate(-50px, -50px);
}

.li-active {
  text-decoration: line-through;
  color: #000;
  background-color: rgb(237, 139, 112);
}

.button {
 
  border: 2px solid #000;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 2px 3px 5px;
  margin-left: 10px;
  color: #000;
  font-style: italic;
  font-size: 10px;
  padding: 3px;
}

.btn:hover {
  background-color: rgb(245, 183, 107);
}

.btn:active {
  box-shadow: none;
  color: red;
  /* fill: green; */
}

.btn {
  background-color: rgb(251, 240, 227);
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #000;
  box-shadow: 2px 3px 5px;
  cursor: pointer;
  transition: all 0.2s ease-in 0s;
}

/* .tooltip {
  font-size: 15px;
  width: 180px;
  padding: 15px;
  background-color: rgb(230, 180, 45);
  border-radius: 50%;
  position: absolute;
  left: 55px;
  top: -20px;
  display: none;
} */